body {
    line-height: 2;
    background-image: url("../images/background.png");
    background-color: #eaeaea;
    background-size: 400px;
    font-size: 18px;
}

h1, h2 {
    font-family: serif;
    font-size: 2.0rem;
    font-weight: bolder;
}

h2 {
    margin-top: 8px;
}

header {
    border-style: solid;
    border-color: #cccccc;
    border-width: 0 0 2px 0;
}

.vertical-line {
    height: 18px;
    margin: 24px 0;

    border-left-style: solid;
    border-width: 1px;
    border-color: #efefef;
}

.custom-card {
    max-width: 738px;
    border-color: #dddddd;
}

.custom-card-contents {
    padding: 28px;
}

#card-divider-hr {
    border-top-width: 3px; 
    border-color: #dddddd;
    margin: 0 28px;
}

/* Form styling */

.custom-input {
    border-color: #dddddd;

    font-size: 14px;
}

#submit-button {
    padding: 8px 32px;
    font-size: 18px;
}

#submit-button:hover {
    background-color: #478682;
}

/* Portfolio styling */

.portfolio-item {
    padding-bottom: 30px;
}

/* Footer styling */

footer {
    background-color: #666666;

    border-style: solid;
    border-color: #59aaa5;
    border-width: 8px 0 0 0;
}

footer div p {
    margin: 36px;

    font-size: 0.75rem;
    color: #cccccc;
}

.teal-background {
    background-color: #59aaa5;
}

.teal-text {
    color: #59aaa5;
}

.gray-text {
    color: #777777;
}

.gray-nav-link {
    color: #999999;

    padding-top: 15px;
    padding-bottom: 15px;
}

.gray-nav-link:hover {
    color: #666666;
}

@media (min-width: 645px) {
    #pic-of-me {
        width: 350px;
    }
}